.card {
    background-color: var(--color-background);
    border: 1px solid var(--color-border);
    border-radius: var(--radius-md);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1);
}

.paddingSm {
    padding: 0.75rem;
}

.paddingMd {
    padding: 1.25rem;
}

.paddingLg {
    padding: 1.75rem;
}